mixin timelineImage(timelines)
    .timeline
        .timeline__container.timeline__container--image
            each timeline in timelines
                a.timeline__link.timeline__link--logo
                    img.timeline__logo(src=`${timeline.logo}`, alt=`${timeline.alt}`)
                ul.timeline__items
                    each item in timeline.item
                        li.timeline__item.timeline__item--image
                            .timeline__timeline
                            .timeline__section.timeline__section--rigth
                                a.timeline__link--curso(href=`${item.link}`,target="_blank")
                                    p.timeline__curso=`${item.curso}`
                                    img.timeline__badge(src=`${item.badge}`, alt=`${item.curso}`)
